{% extends "layout.html" %}

{% block header %}
    <div class="d-flex justify-content-between align-items-center">
        <h1>{{ model.label }}</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ url_for(__name__ ~ ':index') }}">{{ _("Admin") }}</a>
            </li>
            <li class="breadcrumb-item active">{{ model.label }}</li>
        </ol>
    </div>
{% endblock %}

{% block modal %}
    {% include "modals/loading.html" %}
    {% include "modals/error.html" %}
    {% include "modals/actions.html" %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div id="btn_container" class="card-title">Jobs are disabled</div>
                    </div>
                    <div class="card-body">
                        Please consult the documentation on how to enable jobs.
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
